body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}
ul {
  list-style-type: none;
}
.logo .link-logo {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-flex;
  height: 24px;
  align-items: center;
  padding-left: 156;
  padding-top: 24px;
  padding-bottom: 24px;
}
.link-logo .accent {
  color: #4d5ae5;
}

.wrapper {
  list-style: none;
  display: flex;
  gap: 40px;
  padding-left: 76px;
  padding-right: 332px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.wrapper .studio {
  color: #2e2f42;
}
.wrapper .studio:hover {
  color: #404bbf;
}
.wrapper .studio:active {
  color: #404bbf;
  text-decoration: overline;
}
.wrapper .link {
  color: #2e2f42;
}
.wrapper .link:hover {
  color: #404bbf;
}
.main-page-btn {
  border-radius: 4px;
  background: #4d5ae5;
  border: none;
  color: #fff;
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 16px;
}
.main-page-btn:hover {
  background: #404bbf;
}
.main-page {
  background: #2e2f42;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-page-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  padding-top: 188px;
  padding-bottom: 48px;
}

.main-page-text-container-tem {
  background: #f4f4fd;
}
.main-page-text-container-portfolio {
  background: #fff;
}
footer {
  background: #2e2f42;
}
.link-logo-ft {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-flex;
  height: 24px;
  align-items: center;
  padding-left: 156;
  padding-top: 24px;
  padding-bottom: 24px;
}
.link-logo-ft .accent {
  color: #4d5ae5;
}
